.simple-crm{
    display: flex;
    //margin: 80px 0 0 0px;
    width: 1168px;
    height: 340px;
    gap: 35px;
   // border: 2px solid rgba(255, 255, 255, 1);
   //border: 2px solid rgb(243, 9, 9);

    >img{
        width: 620px;
        height: 340px;
        margin-top: 8px;
    }

    .simple-crm-info{

        display: flex;
        flex-direction: column;
        margin-top: 120px;

        h3{
            width: 196px;
            height: 42.82px;
            font-family: Poppins;
            font-weight: 700;
            font-size: 32px;
            line-height: 38.4px;
            color: rgba(151, 71, 255, 1);
        }

        h4{
            width: 488px;
            height: 28px;
            font-family: Poppins;
            font-weight: 400;
            font-size: 23px;
            line-height: 27.6px;
            color: rgba(112, 230, 28, 1);
        }

        p{
            width: 513px;
            height: 57px;
            font-family: Poppins;
            font-weight: 400;
            font-size: 16px;
            line-height: 19.2px;
            color: rgba(255, 255, 255, 1);
        } 

        .buttons{
            width: 375px;
            height: 65.36px;
            gap: 86px;
            display: flex;
            //align-items: center;

            .btn-talk1{
                width: 152px;
                height: 58px;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                padding: 15px 30px 15px 30px;
                gap: 10px;
                color: white;
                font-size: 23px;
                background: rgba(151, 71, 255, 1);
                box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
            
                &:hover{
                    background: rgba(112, 230, 28, 1);
                  
                }
            }

            .btn-talk2{
                width: 137px;
                height: 58px;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                padding: 15px 30px 15px 30px;
                gap: 10px;
                color: white;
                font-size: 23px;
                border-color:  rgba(112, 230, 28, 1);
                background: rgba(20, 29, 47, 1);
                box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
            
                &:hover{
                    background: rgba(112, 230, 28, 1);
                   
                }
            }


        }
    }
}

/* ----------------------------responsive */

@media (max-width: 1669px){}
@media (max-width: 1438px){}
@media (max-width: 1350px){
    .simple-crm{
        margin: 0px 0 0 0px;
        width: 980px;
         
     
         >img{
            width: 560px;
            height: 330px;
            margin-top: 8px;
         }
     
         .simple-crm-info{
     
             display: flex;
             flex-direction: column;
             margin-top: 120px;
             width: 315px;
     
             h3{
                 width: 196px;
                 height: 42.82px;
                 font-family: Poppins;
                 font-weight: 700;
                 font-size: 32px;
                 line-height: 38.4px;
                 color: rgba(151, 71, 255, 1);
             }
             h3{
                width: 196px;
            }
            h4{
                width: 308px;

            }
            p{
               width: 370px; 
            }
            }
        }
}
/* @media (max-width: 1098px){
    .simple-crm{
        margin: 0px 0 0 0px;
        width: 880px;
         
     
         >img{
            width: 500px;
            height: 270px;
            margin-top: 16px;
         }
     
         .simple-crm-info{
     
             display: flex;
             flex-direction: column;
             margin-top: 120px;
             width: 315px;
             margin-left: -40px;
     
             h3{
                 width: 196px;
                 height: 42.82px;
                 font-family: Poppins;
                 font-weight: 700;
                 font-size: 32px;
                 line-height: 38.4px;
                 color: rgba(151, 71, 255, 1);
             }
             h3{
                width: 196px;
            }
            h4{
                width: 308px;

            }
            p{
               width: 370px; 
            }
            }
        }

} */
@media (max-width: 1098px){
    .simple-crm{
        margin: 0px 0 0 0px;
        width: 800px;
        
         
     
         >img{
            width: 460px;//
            height: 230px;//
            margin-top: 40px;
         }
     
         .simple-crm-info{
     
             display: flex;
             flex-direction: column;
             margin-top: 120px;
             width: 315px;
             margin-left: -80px;
     
             h3{
                 width: 196px;
                 height: 42.82px;
                 font-family: Poppins;
                 font-weight: 700;
                 font-size: 32px;
                 line-height: 38.4px;
                 color: rgba(151, 71, 255, 1);
             }
             h3{
                width: 196px;
            }
            h4{
                width: 308px;

            }
            p{
               width: 370px; 
            }
            }
        }

}
@media (max-width: 980px){
    .simple-crm{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0 0 0px;
        width: 800px;//
        height: 587.43px;//
         
     
         >img{
            width: 460px;//
            height: 230px;//
            margin-bottom: 0px;
            //border: 2px solid rgba(255, 255, 255, 1);
            margin-top: 52px;
         }
     
         .simple-crm-info{
     
             display: flex;
             flex-direction: column;
             margin-top: 0px;
             width: 315px;
             margin-left: 0px;//
             align-items: center;
             //border: 2px solid rgb(243, 13, 232);
             margin-top: -70px;
             margin-top: -22px;
     
             h3{
                 width: 196px;
                 height: 42.82px;
                 font-family: Poppins;
                 font-weight: 700;
                 font-size: 32px;
                 line-height: 38.4px;
                 color: rgba(151, 71, 255, 1);
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 margin-bottom: 24px;
                 //border: 2px solid rgba(151, 71, 255, 1);
             }
            

            
            h4{
                width: 308px;
                display: flex;
                align-items: center;
                justify-content: center;
                //border: 2px solid rgba(112, 230, 28, 1);
                margin-top: -24px;
                margin-top: -12px;

            }
            p{
               width: 370px; 
               display: flex;
               align-items: center;
               justify-content: center;
               text-align: center;
               margin-bottom: 0px;
               //border: 2px solid rgba(255, 255, 255, 1);
               margin-top: -4px;


            }
            .buttons{
                width: 375px;
                height: 65.36px;
                gap: 86px;
                display: flex;
                //align-items: center;
               // border: 2px solid rgb(13, 194, 222);
                height: 55.36px;
                margin-top: 32px;
               
    
                .btn-talk1{
                    width: 152px;
                    height: 58px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    padding: 15px 30px 15px 30px;
                    gap: 10px;
                    color: white;
                    font-size: 23px;
                    background: rgba(151, 71, 255, 1);
                    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
                
                    &:hover{
                        background: rgba(112, 230, 28, 1);
                      
                    }
                }
    
                .btn-talk2{
                    width: 137px;
                    height: 58px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    padding: 15px 30px 15px 30px;
                    gap: 10px;
                    color: white;
                    font-size: 23px;
                    border-color:  rgba(112, 230, 28, 1);
                    background: rgba(20, 29, 47, 1);
                    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
                  
                
                    &:hover{
                        background: rgba(112, 230, 28, 1);
                       
                    }
                }
    
    
            }
            }
        }
}
@media (max-width: 940px){
    .simple-crm{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0 0 0px;
        width: 490px;//
        height: 587.43px;//
        margin-left: 120px;
         
     
         >img{
            width: 460px;//
            height: 230px;//
            margin-bottom: 0px;
            margin-top: -48px;
            margin-top: 52px;
         }
     
         .simple-crm-info{
     
             display: flex;
             flex-direction: column;
             margin-top: 0px;
             width: 315px;
             margin-left: 0px;//
             align-items: center;
             margin-top: -22px;
           
     
             h3{
                 width: 196px;
                 height: 42.82px;
                 font-family: Poppins;
                 font-weight: 700;
                 font-size: 32px;
                 line-height: 38.4px;
                 color: rgba(151, 71, 255, 1);
                 display: flex;
                 align-items: center;
                 justify-content: center;
              
             }
            

            
            h4{
                width: 308px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: -12px;
             

            }
            p{
               width: 370px; 
               display: flex;
               align-items: center;
               justify-content: center;
               text-align: center;
               margin-top: -4px;
            
            }
            .buttons{
                margin-top: 32px;
            }
            }
        }
}

@media (max-width: 880px){}
@media (max-width: 730px){
    .simple-crm{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0 0 0px;
        width: 460px;//
        height: 587.43px;//
        margin-left: 0px;
         
     
         >img{
            width: 460px;//
            height: 230px;//
            margin-top: -48px;
            margin-top: 52px;
            margin-bottom: 0px;
            
         }
     
         .simple-crm-info{
     
             display: flex;
             flex-direction: column;
             margin-top: 0px;
             width: 315px;
             margin-left: 0px;//
             align-items: center;
             margin-top: -22px;
           
     
             h3{
                 width: 196px;
                 height: 42.82px;
                 font-family: Poppins;
                 font-weight: 700;
                 font-size: 32px;
                 line-height: 38.4px;
                 color: rgba(151, 71, 255, 1);
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 margin-bottom: 24px;
             }
            

            
            h4{
                width: 308px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 0px;
                margin-top: -12px;

            }
            p{
               width: 370px; 
               display: flex;
               align-items: center;
               justify-content: center;
               text-align: center;
               margin-bottom: 0px;
               margin-top: 8px;
            }
            .buttons{
                margin-top: 32px;
            }
            }
        }
}

@media (max-width: 590px){
    .simple-crm{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0 0 0px;
        width: 370px;//
        height: 587.43px;//
        margin-left: 0px;
         
     
         >img{
            width: 342px;//
            height: 213px;//
            margin-top: 52px;
            
         }
     
         .simple-crm-info{
     
             display: flex;
             flex-direction: column;
             margin-top: 0px;
             width: 315px;
             margin-left: 0px;//
             align-items: center;
             margin-top: -22px;
           
     
             h3{
                 width: 196px;
                 height: 42.82px;
                 font-family: Poppins;
                 font-weight: 700;
                 font-size: 32px;
                 line-height: 38.4px;
                 color: rgba(151, 71, 255, 1);
                 display: flex;
                 align-items: center;
                 justify-content: center;
              
             }
            

            
            h4{
                width: 308px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: -12px;
              

            }
            p{
               width: 308px; 
               display: flex;
               align-items: center;
               justify-content: center;
               text-align: center;
               margin-top: 8px;
              
            }
            .buttons{
                width: 339px;
                height: 65.36px;
                gap: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 32px;
             
            }

            }
        }
}

@media (max-width: 388px){
    .simple-crm{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0 0 0px;
        width: 322px;//
        height: 587.43px;//
        margin-left: 0px;
         
     
         >img{
            width: 342px;//
            height: 213px;//
            margin-top: 60px;
        
         }
     
         .simple-crm-info{
     
             display: flex;
             flex-direction: column;
             margin-top: 0px;
             width: 315px;
             margin-left: 0px;//
             align-items: center;
             margin-top: -20px;
           
     
             h3{
                 width: 196px;
                 height: 42.82px;
                 font-family: Poppins;
                 font-weight: 700;
                 font-size: 32px;
                 line-height: 38.4px;
                 color: rgba(151, 71, 255, 1);
                 display: flex;
                 align-items: center;
                 justify-content: center;
               
               
             }
            

            
            h4{
                width: 290px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: -12px;
             
              

            }
            p{
               width: 290px; 
               display: flex;
               align-items: center;
               justify-content: center;
               text-align: center;
               margin-top: 8px;
             
             
            }
            .buttons{
                width: 316px;
                height: 65.36px;
                gap: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 32px;
               
            }

            }
        }
}

@media (max-width: 350px){
    .simple-crm{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0 0 0px;
        width: 302px;//
        height: 587.43px;//
        margin-left: 0px;
         
     
         >img{
            width: 321px;//
            height: 213px;//
            margin-top: 36px;
          
         
         }
     
         .simple-crm-info{
     
             display: flex;
             flex-direction: column;
             margin-top: 0px;
             width: 300px;
             margin-left: 0px;//
             align-items: center;
            
     
             h3{
                 width: 196px;
                 height: 42.82px;
                 font-family: Poppins;
                 font-weight: 700;
                 font-size: 32px;
                 line-height: 38.4px;
                 color: rgba(151, 71, 255, 1);
                 display: flex;
                 align-items: center;
                 justify-content: center;
              
               
             }
            

            
            h4{
                width: 290px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: -12px;
          
              

            }
            p{
               width: 290px; 
               display: flex;
               align-items: center;
               justify-content: center;
               text-align: center;
               margin: 8px;
            
           
            }
            .buttons{
                width: 304px;
                height: 65.36px;
                gap: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 24px;
            
               
            }

            }
        }
}
