<div class="background-images" *ngIf="showBodyContent">
  <div class="shape-hero"></div>
  <!--  <div class="shadows"></div> -->
</div>
<div class="about-bg" *ngIf="showBodyContent"></div>
<div class="skills-bg" *ngIf="showBodyContent"></div>
<div class="p-folio-bg" *ngIf="showBodyContent"></div>
<div class="message-bg" *ngIf="showBodyContent"></div>
<div class="photo-profile-bg" *ngIf="showBodyContent"></div>

<app-header *ngIf="showHeaderFooter" class="header"></app-header>

<div class="content-wrapper">
  <router-outlet></router-outlet>
  <app-about-me class="app-about-me" *ngIf="showBodyContent"> </app-about-me>
  <app-my-skills *ngIf="showBodyContent"></app-my-skills>
  <app-portfolio *ngIf="showBodyContent"></app-portfolio>
  <app-team-feedback *ngIf="showBodyContent"></app-team-feedback>
  <app-contact *ngIf="showBodyContent"></app-contact>
</div>

<app-footer *ngIf="showHeaderFooter"></app-footer>
