.profile{
    display: flex;
    //width: 99.9%;
   //display: none;

   .profile-pic {
    position: absolute;
    top: 181.62px;
    width: 660.7px;
    height: 671.38px;
    //width: 1420.7px;
    height: 605.38px;
    left: 0px;
   
    background-image: url('./../../../public/assets/img/shadows.png');
    background-position: center top 0px; 
    background-repeat: no-repeat;
    object-fit: none;
    background-size: 100%; 
  // border: 2px solid rgba(255, 255, 255, 1);

   
      .p-pic{
        position: absolute;
        width: 646px;
        height: 705px;
        width: 520px; /* Verkleinerte Breite */
        height: 600px; /* Verkleinerte Höhe */
        top: 5px;
        left: 140px;
        left: 47px;
        gap: 0px;
        opacity: 0px;
        //display: none;
      
        //border: 2px solid rgba(255, 255, 255, 1);

    }

  }
  .hero{
    position: absolute;
    
    width: 1344px;
    height: 646px;
    top: 297px;
  
    //border: 2px solid rgba(255, 255, 255, 1);

    //border: 2px solid rgb(231, 206, 12);
    //display: none;

    .iam-frontend{
        position: absolute;
        width: 718px;
        height: 172px;
        //top: 297px;
        left: 622px;
        gap: 35px;
        opacity: 0px;
        //border: 2px solid rgb(198, 18, 18);
        
      

        .iam {
            width: 152px;
            height: 63px;
            transform: rotate(-90deg); /* Drehung um 90 Grad */
            font-family: Poppins;
            font-weight: 400;
            font-size: 64px;
            line-height: 76.8px;
            //margin-top: 48px;
            color: rgba(255, 255, 255, 1);
            margin-left: -48px;
           margin-top: 48px;
           margin-bottom: 44px;
            //border: 2px solid rgba(255, 255, 255, 1);
          
          
        }
      
        .name-beruf{
           
            height: 172px;
            margin-left: 72px;
            margin-top: -154px;
            //border: 2px solid rgba(255, 255, 255, 1);
            text-align: end;

            .name{
                width: 490px;
                height: 108px;
                font-weight: 700;
                font-size: 90px;
                line-height: 108px;
                color: rgba(255, 255, 255, 1);
                //border: 2px solid rgba(255, 255, 255, 1);
              
            }
            .frontend{
                // font-family: Poppins;
                 width: 490px;
                 font-weight: 400;
                 height: 70px;
                 font-size: 44px;
                 line-height: 69.6px;
                 color: rgba(151, 71, 255, 1) ;
                 line-height: 69.6px;
                 margin-top: -48px;
                // border: 2px solid  rgba(151, 71, 255, 1);
                 //display: none;
             }
             .btn-talk{
                width: 165px;
                height: 58px;
               
                margin-left: -480px;
               
                border-radius: 10px;
                padding: 15px 30px 15px 30px;
                gap: 10px;
                position: absolute;
                color: white;
                margin-top: -24px;
             
                background: rgba(112, 230, 28, 1);
                box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
                cursor: pointer;
            
                &:hover{
                    
                    background: rgba(151, 71, 255, 1);
                    scale: 1.1;
                    cursor: pointer;
            
                }
            
            }
            
        }
      
    }
    
}
.references{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 566px;
    height: 40px;
    top: 903px;
    color: rgba(255, 255, 255, 1);
   
    border: 2px solid rgba(255, 255, 255, 1);
   
    .references-line{
        position: absolute;
        top: 0px;
        display: flex;
       

        gap: 32px;
      
        
        >img{
            width: 30px;
            height: 30px;
            &:hover{
                scale: 1.2;
            }
        }
    }

    .line{
        margin-top: 12px;
        width: 100px;
        height: 0px;
        border-style: solid;
        color: rgba(151, 71, 255, 1);
    }

    .mail{
        font-family: Poppins;
        font-weight: 400;
        //font-size: 20px;
        font-size: 20px;
        line-height: 27.6px;
        color: rgba(255, 255, 255, 1);
        cursor: pointer;
    
    }
    .scroll-down{
        position: absolute;
        left: 1316px;
        left: 1246px;
        width: 133px;
        height: 28px;
        font-family: Poppins;
        font-weight: 400;
        font-size: 20px;
        line-height: 27.6px;
        color: rgba(255, 255, 255, 1);
        transform: rotate(90deg); 
        margin-top: -160px;
        //background-color: rgba(255, 255, 255, 1);
       
      
    }

    &:hover{
        cursor: pointer;
       
    }
    .scroll-down:hover {
        cursor: pointer;
        color: rgba(112, 230, 28, 1);


    }
}


   
}


/* ------------------------------responsive */

@media (max-width: 1350px) {

   
    .profile{

        .hero{
            width: 1300px;

            .iam-frontend{
                width: 658px;
                .name-beruf{
                    .btn-talk{
                        margin-left: -424px;
                    }
                }
            }
        }
        .references{

            .scroll-down{
                left: 1246px;
                left: 1146px;
            }
        }
        
    }
} 
@media (max-width: 1304px) {
    .profile{


        .hero{
            width: 1050px;

            .iam-frontend{
                width: 428px;
           
                .iam{
                    font-size: 42px;
                   margin-bottom: 94px;
                
               
                }
    
               .name-beruf{
                margin-left: -24px;
                margin-top: -160px;
              
    
                .name{
                    width: 300px;
                    height: 48px;
                    font-size: 44px;
                    margin-top: 60px;
                    margin-left: 96px;
                    text-align: start;
                    //display: none;

                  
                   
                }
                .frontend{
                  
                    width: 320px;
                    font-size: 28px;
                    margin-top: -4px;
                    margin-left: 80px;
                    
                    
    
                }
                .btn-talk{
                 
                    width: 154px;
                    height: 48px;
                    margin-left: -288px;
                    margin-top: 0px;
                   
                }
               
    
               }
            }
           
          
        }
        .references{

            .scroll-down{
                
                left: 960px;
            }
        }
       
       
    }
} 

@media (max-width: 1060px) {

    .profile{
        height: 915.31px;
       
      
        .profile-pic{
            position: absolute;
            top: 181.62px;
            width: 640.7px;
            height: 451.38px;
            left: 0px;
            //padding-left: 80px;
            
            background-image: url('./../../../public/assets/img/shadows.png');
            background-position: left -8px top -50px; 
            background-size: 100%; 
            background-repeat: no-repeat;
            object-fit: none;
           
           

            .p-pic{
                
                position: absolute;
            /*     width: 410.61px;
                height: 448.11px; */
              
              
               width: 646px;
               height: 705px;
               width: 520px; /* Verkleinerte Breite */
               height: 670px; /* Verkleinerte Höhe */
               width: 410.61px;
               height: 448.11px;
               top: 3px;
             
               left: 140px;
               gap: 0px;
               opacity: 0px;
               //display: none;

            }
        }

        .hero{
            position: absolute;
            width: 365px;
            height: 239px;
           
            top: 589px;
            //left: -600px;
            left: -470px;

         
           

        }
        .references{
            
            top: 778px;
            top: 871px;
           
            .scroll-down{
                display: none;
            }
        }

       
       
    }
}
@media (max-width: 880px) {

    .profile{
        height: 915.31px;
       
      
        .profile-pic{
            position: absolute;
            top: 181.62px;
            width: 640.7px;
            height: 451.38px;
            left: 0px;
            //padding-left: 80px;
            
            background-image: url('./../../../public/assets/img/shadows.png');
            background-position: left -8px top -50px; 
            background-size: 100%; 
            background-repeat: no-repeat;
            object-fit: none;
           
           

            .p-pic{
                
                position: absolute;
            /*     width: 410.61px;
                height: 448.11px; */
              
              
               width: 646px;
               height: 705px;
               width: 520px; /* Verkleinerte Breite */
               height: 670px; /* Verkleinerte Höhe */
               width: 410.61px;
               height: 448.11px;
               top: 3px;
             
               left: 140px;
               gap: 0px;
               opacity: 0px;
               //display: none;

            }
        }

        .hero{
            position: absolute;
            width: 365px;
            height: 239px;
           
            top: 589px;
            //left: -600px;
            left: -470px;
           

        }
        .references{
            
            top: 778px;
            top: 871px;
           
            .scroll-down{
                display: none;
            }
        }

       
       
    }
}
@media (max-width: 730px) {

    .profile{
        height: 915.31px;
       
      
        .profile-pic{
            position: absolute;
            top: 181.62px;
            width: 540.7px;
            height: 451.38px;
            left: 0px;
            //padding-left: 80px;
            
            background-image: url('./../../../public/assets/img/shadows.png');
            background-position: left -8px top -50px; 
            background-size: 100%; 
            background-repeat: no-repeat;
            object-fit: none;
           
           

            .p-pic{
                
                position: absolute;
            /*     width: 410.61px;
                height: 448.11px; */
              
              
               width: 646px;
               height: 705px;
               width: 520px; /* Verkleinerte Breite */
               height: 670px; /* Verkleinerte Höhe */
               width: 410.61px;
               height: 448.11px;
               top: 3px;
             
               left: 40px;
               gap: 0px;
               opacity: 0px;
               //display: none;

            }
        }

        .hero{
            position: absolute;
            width: 300px;
            height: 239px;
           
            top: 589px;
            //left: -600px;
            left: -560px;

            .iam-frontend{
                position: absolute;
                width: 380px;
            }
           

        }
        .references{
            
            top: 778px;
            top: 871px;
           
            .scroll-down{
                display: none;
            }
        }

       
       
    }
}

@media (max-width: 570px) {

    .profile{
        height: 915.31px;
       
      
        .profile-pic{
            position: absolute;
            top: 181.62px;
            width: 460.7px;
            height: 451.38px;
            left: 0px;
            //padding-left: 80px;
            
            background-image: url('./../../../public/assets/img/shadows.png');
            background-position: left -8px top 0px; 
            background-size: 105%; 
            background-repeat: no-repeat;
            object-fit: none;
           
           

            .p-pic{
                
                position: absolute;
            /*     width: 410.61px;
                height: 448.11px; */
            
               width: 370.61px;
               height: 448.11px;
               top: 3px;
             
               left: 40px;
               gap: 0px;
               opacity: 0px;
               //display: none;
             

            }
        }

        .hero{
            position: absolute;
            width: 300px;
            height: 239px;
           
            top: 589px;
            //left: -600px;
            left: -560px;

            .iam-frontend{
                position: absolute;
                width: 380px;
            }
           

        }
        .references{
           
            top: 778px;
            top: 871px;
           
            .scroll-down{
                display: none;
            }
            .references-line{
                width: 300px;
                margin-left: -280px;
               
                .line{
                    margin-top: 12px;
                    width: 100px;
                    height: 0px;
                    margin-left: 0px;
                    border-style: solid;
                    color: rgba(151, 71, 255, 1);
                }

                .mail{
                    display: none;
                }
            }
             
            
        }

       
       
    }
}
@media (max-width: 490px) {

    .profile{
        height: 915.31px;
       
      
        .profile-pic{
            position: absolute;
            top: 181.62px;
            width: 380.7px;
            height: 451.38px;
            left: 0px;
            //padding-left: 80px;
            
            background-image: url('./../../../public/assets/img/shadows.png');
            background-position: left -8px top 0px; 
            background-size: 105%; 
            background-repeat: no-repeat;
            object-fit: none;
           
           

            .p-pic{
                
                position: absolute;
            /*     width: 410.61px;
                height: 448.11px; */
            
               width: 310.61px;
               height: 448.11px;
               top: 3px;
             
               left: 40px;
               gap: 0px;
               opacity: 0px;
               //display: none;
          

            }
        }

        .hero{
            position: absolute;
            width: 300px;
            height: 239px;
           
            top: 589px;
            //left: -600px;
            left: -620px;

            .iam-frontend{
                position: absolute;
                width: 380px;
            }
           

        }
        .references{
            
            top: 778px;
            top: 871px;
           
            .scroll-down{
                display: none;
            }
            .references-line{
                width: 300px;
                margin-left: -280px;
              
                .line{
                    margin-top: 12px;
                    width: 100px;
                    height: 0px;
                    margin-left: 0px;
                    border-style: solid;
                    color: rgba(151, 71, 255, 1);
                }

                .mail{
                    display: none;
                }
            }
             
            
        }

       
       
    }
}
@media (max-width: 400px) {

    .profile{
        height: 915.31px;
       
      
        .profile-pic{
            position: absolute;
            top: 181.62px;
            width: 360.7px;
            height: 451.38px;
            left: 0px;
            //padding-left: 80px;
            
            background-image: url('./../../../public/assets/img/shadows.png');
            background-position: left -8px top 40px; 
            background-size: 105%; 
            background-repeat: no-repeat;
            object-fit: none;
           
           

            .p-pic{
                
                position: absolute;
            /*     width: 410.61px;
                height: 448.11px; */
            
               width: 310.61px;
               height: 448.11px;
               top: 3px;
             
               left: 24px;
               gap: 0px;
               opacity: 0px;
               //display: none;
               

            }
        }

        .hero{
            position: absolute;
            width: 300px;
            height: 239px;
           
            top: 589px;
            //left: -600px;
            left: -620px;

            .iam-frontend{
                position: absolute;
                width: 340px;
                margin-left: 20px;
              
                .iam {
                    margin-left: -66px;
                    font-size: 32px;
                  
                }
                .name-beruf{
                    margin-left: -60px;

                    .name{
                        font-size: 44px;
                    }
                    .frontend{
                        font-size: 28px;
                    }
                    .btn-talk{
                        margin-left: -232px;
                    }
                   
                }
            }
           

        }
        .references{
            
            top: 778px;
            top: 871px;
           
            .scroll-down{
                display: none;
            }
            .references-line{
                width: 300px;
                margin-left: -280px;
            
                .line{
                    margin-top: 12px;
                    width: 100px;
                    height: 0px;
                    margin-left: 0px;
                    border-style: solid;
                    color: rgba(151, 71, 255, 1);
                }

                .mail{
                    display: none;
                }
            }
             
            
        }

       
       
    }
}
@media (max-width: 388px) {

    .profile{
        height: 915.31px;
       
      
        .profile-pic{
            position: absolute;
            top: 181.62px;
            width: 332.7px;
            height: 451.38px;
            left: 0px;
            //padding-left: 80px;
            
            background-image: url('./../../../public/assets/img/shadows.png');
            background-position: left -8px top 40px; 
            background-size: 105%; 
            background-repeat: no-repeat;
            object-fit: none;
           
           

            .p-pic{
                
                position: absolute;
            /*     width: 410.61px;
                height: 448.11px; */
            
               width: 300.61px;
               height: 448.11px;
               top: 3px;
             
               left: 16px;
               gap: 0px;
               opacity: 0px;
               //display: none;
        

            }
        }

        .hero{
            position: absolute;
            width: 300px;
            height: 239px;
           
            top: 589px;
            //left: -600px;
            left: -620px;

            .iam-frontend{
                position: absolute;
                width: 300px;
                margin-left: 20px;
              
                .iam {
                    margin-left: -66px;
                    font-size: 32px;
                  
                }
                .name-beruf{
                    margin-left: -60px;
                    margin-top: -156px;

                    .name{
                        font-size: 44px;
                      
                    }
                    .frontend{
                        margin-left: 40px;
                        font-size: 24px;
                    }
                    .btn-talk{
                        margin-left: -216px;
                    }
                   
                }
            }
           

        }
        .references{
            
            top: 778px;
            top: 871px;
           
            .scroll-down{
                display: none;
            }
            .references-line{
                width: 300px;
                margin-left: -280px;
             ;
                .line{
                    margin-top: 12px;
                    width: 100px;
                    height: 0px;
                    margin-left: 0px;
                    border-style: solid;
                    color: rgba(151, 71, 255, 1);
                }

                .mail{
                    display: none;
                }
            }
             
            
        }

       
       
    }
}
@media (max-width: 350px) {

    .profile{
        height: 915.31px;
       
      
        .profile-pic{
            position: absolute;
            top: 181.62px;
            width: 316.7px;
            height: 451.38px;
            left: 0px;
            //padding-left: 80px;
            
            background-image: url('./../../../public/assets/img/shadows.png');
            background-position: left -8px top 40px; 
            background-size: 102%; 
            background-repeat: no-repeat;
            object-fit: none;
           
           

            .p-pic{
                
                position: absolute;
            /*     width: 410.61px;
                height: 448.11px; */
            
               width: 280.61px;
               height: 448.11px;
               top: 3px;
             
               left: 8px;
               gap: 0px;
               opacity: 0px;
               //display: none;
              

            }
        }

        .hero{
            position: absolute;
            width: 300px;
            height: 239px;
           
            top: 589px;
            //left: -600px;
            left: -620px;

            .iam-frontend{
                position: absolute;
                width: 300px;
                margin-left: 4px;
              
                .iam {
                    margin-left: -66px;
                    font-size: 32px;
                  
                }
                .name-beruf{
                    margin-left: -60px;
                    margin-top: -156px;

                    .name{
                        font-size: 44px;
                      
                    }
                    .frontend{
                        margin-left: 40px;
                        font-size: 24px;
                    }
                    .btn-talk{
                        margin-left: -216px;
                    }
                   
                }
            }
           

        }
        .references{
            
            top: 778px;
            top: 871px;
           
            .scroll-down{
                display: none;
            }
            .references-line{
                width: 300px;
                margin-left: -280px;
      
                .line{
                    margin-top: 12px;
                    width: 100px;
                    height: 0px;
                    margin-left: 0px;
                    border-style: solid;
                    color: rgba(151, 71, 255, 1);
                }

                .mail{
                    display: none;
                }
            }
             
            
        }

       
       
    }
}










