
/* Poppins Regular */
@font-face {
  font-family: 'Poppins';
  src: url('./../public/assets/fonts/poppins-v21-latin-regular.woff2') format('woff2'),
       url('./../public/assets/fonts/poppins-v21-latin-regular.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Poppins Bold */
@font-face {
  font-family: 'Poppins';
  src: url('./../public/assets/fonts/poppins-v21-latin-regular.woff2') format('woff2'),
       url('./../public/assets/fonts/poppins-v21-latin-regular.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./../public/assets/fonts/montserrat-v26-latin/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./../public/assets/fonts/montserrat-v26-latin/montserrat-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(20, 29, 47, 1);
  margin: 0;
  padding: 0;
  min-height: 100vh; 
}


.photo-profile-bg{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('./../public/assets/img/photo-shadows.png');
  background-repeat: no-repeat;
  background-position: left 0px top 160px;
  background-size: 960px 700px; /* Breite x Höhe */
  z-index: -100;
}
.about-bg{
  position: absolute;
  width: 100vw;
  height: 200vh;
  background-image: url('./../public/assets/img/purple-shadow-R2.png');
  background-repeat: no-repeat;
  background-position: right 0px top 820px;
  z-index: -1;
}
.skills-bg{
  position: absolute;
  width: 100vw;
  height: 400vh;
  background-image: url('./../public/assets/img/green-shadow-2L.png');
  background-repeat: no-repeat;
  background-position: left 0px top 1920px;
  z-index: -1;
}
.p-folio-bg{
  position: absolute;
  width: 100vw;
  height: 400vh;
  background-image: url('./../public/assets/img/purple-shadow-L3.png');
  background-repeat: no-repeat;
  background-position: left 0px top 3200px;
  z-index: -1;
}
.message-bg{
  position: absolute;
  width: 100vw;
  height: 567vh;
  background-image: url('./../public/assets/img/purple-shadow-L4.png');
  background-repeat: no-repeat;
  background-position: left 0px top 5600px;
  z-index: -1;
}

.background-images {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 6123px;
  width: cover;

}

.shape-hero {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('./../public/assets/img/shapeheropage.png');
  background-repeat: no-repeat;
  background-position: left 0px top 370.6px;
  background-size: 1920px 1071px;
  z-index: -1;
}

.shadows {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 6123px;
  background-image: url('./../public/assets/img/shadows1.png');
  background-repeat: no-repeat;
  background-position: center top 1000px;
  z-index: -1;
}


.content-wrapper {
  max-width: 1440px;
  width: 100%;
  height: 6123px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}






/* ----------------------------------------------------------------------------------- */

.big-bg {
  //margin-top: 388px;
  margin-top: 390px;
  //background-image: url("./../public/assets/img/background-shapes.png");
  background-repeat: no-repeat;
  width: 2550.73px;
  height: 5710.77px;
  background-size: 99.9%; /* Bild um 150% vergrößern */
}
.big-bg2{
  margin-top: 859px;
  //background-image: url("./../public/assets/img/shadows1.png");
  background-repeat: no-repeat; /* Sicherstellen, dass das Bild nicht wiederholt wird */
  width: 1205.31px; /* Breite anpassen */
  height: 7467px; /* Höhe automatisch anpassen */
  margin-left: -320px;
  background-size: 99.9%; 
  //background-color: rgba(255, 255, 255, 1);
  display: none;

}











/*--------------------------------responsive */
@media (max-width: 1669px) {
  .photo-profile-bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('./../public/assets/img/photo-shadows.png');
    background-repeat: no-repeat;
    background-position: left 159.5px top 377.6px;
  
  }
  .photo-profile-bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('./../public/assets/img/photo-shadows.png');
    background-repeat: no-repeat;
    background-position: left 0px top 160px;
    background-size: 960px 700px; /* Breite x Höhe */
    z-index: -100;
  }
  .shape-hero {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('./../public/assets/img/shapeheropage.png');
    background-repeat: no-repeat;
    background-position: left 159.5px top 364.6px;
    background-size: 1520px 1071px;
    z-index: -1;
  }
}
@media (max-width: 1520px) {
  .photo-profile-bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('./../public/assets/img/photo-shadows.png');
    background-repeat: no-repeat;
    background-position: left 12px top 221.62px;
    //background-size: 960px 620px; /* Breite x Höhe */
    background-size: 690.7px 671.38px;
    z-index: -10;
  }  

}


 @media (max-width: 1440px) {
  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
    height: 6119px; 
    
  }
  .shape-hero {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('./../public/assets/img/shapeheropage.png');
    background-repeat: no-repeat;
    background-position: left 159.5px top 379.6px;
    background-position: left 0px top 379.6px;
    background-size: 1480px 971.56px;
    z-index: -1;
  }
  .photo-profile-bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('./../public/assets/img/photo-shadows.png');
    background-repeat: no-repeat;
    background-position: left 2px top 141.62px;
    //background-size: 960px 620px; /* Breite x Höhe */
    background-size: 690.7px 641.38px;
    z-index: -10;
  } 
 


} 
@media (max-width: 1365px) {
  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
    height: 6121px; 
    
  }

  .ober{
    .big-bg {
      //margin-top: 488px;
      margin-top:488px;
     // background-image: url("./../public/assets/img/background-shapes.png");
      background-repeat: no-repeat;
      width: 2550.73px;
      height: 5710.77px;
      background-size: 100%; /* Bild um 150% vergrößern */
    }
  }
} 
@media (max-width: 1350px) {
  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
    height: 6412px; 
  
    
  }

  .message-bg{
    position: absolute;
    width: 100vw;
    height: 594vh;
    background-image: url('./../public/assets/img/purple-shadow-L4.png');
    background-repeat: no-repeat;
    background-position: left 0px top 5900px;
    z-index: -1;
  }
} 

@media (max-width: 1240px) {
  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
  
  
  }



  .ober{
    .big-bg {
      margin-top: 390px;
      background-size: 125%; /* Bild um 150% vergrößern */
    }
  }
} 
@media (max-width: 1090px) {
  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
   
  
  }

  .ober{
    .big-bg {
      margin-top: 390px;
      background-size: 135%; /* Bild um 150% vergrößern */
   
     }
  }
} 
@media (max-width: 1060px) {
  body{
   

    .content-wrapper {
      width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
      max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
      height: 6778px; 
     
    }
    .shape-hero {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-image: url('./../public/assets/img/shapeheropage.png');
      background-repeat: no-repeat;
      background-position: left 0px top 220.6px;
      background-size: 1380px 946.56px;
      z-index: -1;
    }
    .photo-profile-bg{
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-image: url('./../public/assets/img/photo-shadows.png');
      background-repeat: no-repeat;
      background-position: left 2px top 101.62px;
      //background-size: 960px 620px; /* Breite x Höhe */
      background-size: 690.7px 561.38px;
      z-index: -10;
    } 
    .about-bg{
      position: absolute;
      width: 100vw;
      height: 200vh;
      background-image: url('./../public/assets/img/purple-shadow-R2.png');
      background-repeat: no-repeat;
      background-position: right 0px top 820px;
      z-index: -1;
    }
    .skills-bg{
      position: absolute;
      width: 100vw;
      height: 400vh;
      background-image: url('./../public/assets/img/green-shadow-2L.png');
      background-repeat: no-repeat;
      background-position: left 0px top 1920px;
      z-index: -1;
    }
    .p-folio-bg{
      position: absolute;
      width: 100vw;
      height: 400vh;
      background-image: url('./../public/assets/img/purple-shadow-L3.png');
      background-repeat: no-repeat;
      background-position: left 0px top 3200px;
      z-index: -1;
    }
    .message-bg{
      position: absolute;
      width: 100vw;
      height: 627.5vh;
      background-image: url('./../public/assets/img/purple-shadow-L4.png');
      background-repeat: no-repeat;
      background-position: left 0px top 6300px;
      z-index: -1;
    }
  }
 /*  .ober{
    .big-bg {
       display: none;
      }
      .big-bg2 {
        display: block;
        width: 2080px;
        height: 5700px;
        margin-top: 980px;
       }
       .profile-pic {
       
        height: 656px;
       }
    


  } */
} 
@media (max-width: 1010px) {

  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
    height: 6400px; 
  
  }

  .ober{
    .big-bg {
      margin-top: 390px;
      background-size: 145%; /* Bild um 150% vergrößern */
   
    }
  }
} 
@media (max-width: 980px) {
body{

  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
    height: 7844px; 
   
  }
  .message-bg{
    position: absolute;
    width: 100vw;
    height: 726vh;
    background-image: url('./../public/assets/img/purple-shadow-L4.png');
    background-repeat: no-repeat;
    background-position: left 0px top 7400px;
    z-index: -1;
  }
}

} 
@media (max-width: 940px) {
  body{
    .content-wrapper {
      width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
      max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
      height: 7908px; 
     
    }
    .message-bg{
      position: absolute;
      width: 100vw;
      height: 732vh;
      background-image: url('./../public/assets/img/purple-shadow-L4.png');
      background-repeat: no-repeat;
      background-position: left 0px top 7650px;
      z-index: -1;
    }
    
  }
 
  
} 
@media (max-width: 880px) {

 body{
  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
    height: 7864px; 
   
  }
  .message-bg{
    position: absolute;
    width: 100vw;
    height: 728vh;
    background-image: url('./../public/assets/img/purple-shadow-L4.png');
    background-repeat: no-repeat;
    background-position: left 0px top 7650px;
    z-index: -1;
  }
 }
  
  .ober{
    .big-bg {
      margin-top: 390px;
      background-size: 175%; /* Bild um 150% vergrößern */
   
    }
    .profile-pic {
      height: 656px;
     // width: 95%;
      width: 746px;
     
     }
  }
}
@media (max-width: 730px){
  body{
    .content-wrapper {
      width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
      max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
      height: 7880px; 
     
    }

    .shape-hero {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-image: url('./../public/assets/img/shapeheropage.png');
      background-repeat: no-repeat;
      background-position: left 0px top 214.6px;
      background-size: 1380px 951.56px;
      z-index: -1;
    }
    .photo-profile-bg{
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-image: url('./../public/assets/img/photo-shadows.png');
      background-repeat: no-repeat;
      background-position: left 2px top 121.62px;
      //background-size: 960px 620px; /* Breite x Höhe */
      background-size: 580.7px 561.38px;
      z-index: -10;
    } 
    .about-bg{
      position: absolute;
      width: 100vw;
      height: 200vh;
      background-image: url('./../public/assets/img/purple-shadow-R2.png');
      background-repeat: no-repeat;
      background-position: right 0px top 820px;
      z-index: -1;
    }
    .skills-bg{
      position: absolute;
      width: 100vw;
      height: 400vh;
      background-image: url('./../public/assets/img/green-shadow-2L.png');
      background-repeat: no-repeat;
      background-position: left 0px top 1920px;
      z-index: -1;
    }
    .p-folio-bg{
      position: absolute;
      width: 100vw;
      height: 400vh;
      background-image: url('./../public/assets/img/purple-shadow-L3.png');
      background-repeat: no-repeat;
      background-position: left 0px top 3200px;
      z-index: -1;
    }
    .message-bg{
      position: absolute;
      width: 100vw;
      height: 729.5vh;
      background-image: url('./../public/assets/img/purple-shadow-L4.png');
      background-repeat: no-repeat;
      background-position: left 0px top 7600px;
      z-index: -1;
    }
  }

}

 

@media (max-width: 590px){
  body{
    .content-wrapper {
      width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
      max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
      height: 7882px; 
     
    }
   }
  
  .big-bg2 {
    margin-top: 1259px;
   
    background-repeat: no-repeat;
    width: 1205.31px;
    height: 6000px;
    margin-left: -320px;
    background-size: 99.9%;
    display: none;
}
.ober{
 
  .profile-pic {
    height: 650px;
   // width: 95%;
    width: 746px;
    margin-left: -80px;
    
   
   }
}
 
}
@media (max-width: 570px){

 body{
  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
    height: 7882px; 
  
  }
  .photo-profile-bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('./../public/assets/img/photo-shadows.png');
    background-repeat: no-repeat;
    background-position: left 2px top 121.62px;
    //background-size: 960px 620px; /* Breite x Höhe */
    background-size: 540.7px 561.38px;
    z-index: -10;
  }
 } 
  

  .big-bg2 {
    margin-top: 1259px;
   
    background-repeat: no-repeat;
    width: 1205.31px;
    height: 6000px;
    margin-left: -320px;
    background-size: 99.9%;
    display: none;
}
.ober{
 
  .profile-pic {
    height: 650px;
   // width: 95%;
    width: 746px;
    margin-left: -140px;
    
   
   }
}
 
}
@media (max-width: 490px){
  body{

    .content-wrapper {
      width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
      max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
      height: 7882px; 
     
    }

    .shape-hero {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-image: url('./../public/assets/img/shapeheropage.png');
      background-repeat: no-repeat;
      background-position: left 0px top 214.6px;
      background-size: 1380px 841.56px;
      z-index: -1;
    }
    .photo-profile-bg{
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-image: url('./../public/assets/img/photo-shadows.png');
      background-repeat: no-repeat;
      background-position: left 2px top 121.62px;
      //background-size: 960px 620px; /* Breite x Höhe */
      background-size: 420.7px 521.38px;
      z-index: -10;
     
    } 
    .about-bg{
      position: absolute;
      width: 100vw;
      height: 200vh;
      background-image: url('./../public/assets/img/purple-shadow-R2.png');
      background-repeat: no-repeat;
      background-position: right 0px top 820px;
      z-index: -1;
    }
    .skills-bg{
      position: absolute;
      width: 100vw;
      height: 400vh;
      background-image: url('./../public/assets/img/green-shadow-2L.png');
      background-repeat: no-repeat;
      background-position: left 0px top 1920px;
      z-index: -1;
    }
    .p-folio-bg{
      position: absolute;
      width: 100vw;
      height: 400vh;
      background-image: url('./../public/assets/img/purple-shadow-L3.png');
      background-repeat: no-repeat;
      background-position: left 0px top 3200px;
      z-index: -1;
    }
    .message-bg{
      position: absolute;
      width: 100vw;
      height: 729.5vh;
      background-image: url('./../public/assets/img/purple-shadow-L4.png');
      background-repeat: no-repeat;
      background-position: left 0px top 7600px;
      z-index: -1;
    }
  
  }

 
 
}
@media (max-width: 400px){
 body{

  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
    height: 7380px; 
  }
  .shape-hero {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('./../public/assets/img/shapeheropage.png');
    background-repeat: no-repeat;
    background-position: left 0px top 216.6px;
    background-size: 1380px 841.56px;
    z-index: -1;
  }
  .photo-profile-bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('./../public/assets/img/photo-shadows.png');
    background-repeat: no-repeat;
    background-position: left 2px top 121.62px;
    //background-size: 960px 620px; /* Breite x Höhe */
    background-size: 400.7px 521.38px;
    z-index: -10;
   
  }  
  .about-bg{
    position: absolute;
    width: 100vw;
    height: 200vh;
    background-image: url('./../public/assets/img/purple-shadow-R2.png');
    background-repeat: no-repeat;
    background-position: right 0px top 820px;
    z-index: -1;
  }
  .skills-bg{
    position: absolute;
    width: 100vw;
    height: 400vh;
    background-image: url('./../public/assets/img/green-shadow-2L.png');
    background-repeat: no-repeat;
    background-position: left 0px top 1920px;
    z-index: -1;
  }
  .p-folio-bg{
    position: absolute;
    width: 100vw;
    height: 400vh;
    background-image: url('./../public/assets/img/purple-shadow-L3.png');
    background-repeat: no-repeat;
    background-position: left 0px top 3200px;
    z-index: -1;
  }
  .message-bg{
    position: absolute;
    width: 100vw;
    height: 683vh;
    background-image: url('./../public/assets/img/purple-shadow-L4.png');
    background-repeat: no-repeat;
    background-position: left 0px top 7140px;
    z-index: -1;
  }

 }

  
  .big-bg2 {
    margin-top: 1259px;
   
    background-repeat: no-repeat;
    width: 1205.31px;
    height: 6000px;
    margin-left: -320px;
    background-size: 99.9%;
    display: none;
}
.ober{
 
  .profile-pic {
    height: 650px;
   // width: 95%;
    width: 746px;
    margin-left: -250px;
    
   }
}
 
}
@media (max-width: 388px){
  body { 
    height: 7765px;
    height: 7850px;

    .content-wrapper {
      width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
      max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
      height: 7550px; 
      height: 7712px;
    
      
     
    }
  
    .shape-hero {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-image: url('./../public/assets/img/shapeheropage.png');
      background-repeat: no-repeat;
      background-position: left 0px top 220.6px;
      background-size: 1380px 821.56px;
      z-index: -1;
    }
    .photo-profile-bg{
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-image: url('./../public/assets/img/photo-shadows.png');
      background-repeat: no-repeat;
      background-position: left 2px top 121.62px;
      //background-size: 960px 620px; /* Breite x Höhe */
      background-size: 380.7px 511.38px;
      z-index: -10;
     
    }  
    .about-bg{
      position: absolute;
      width: 100vw;
      height: 200vh;
      background-image: url('./../public/assets/img/purple-shadow-R2.png');
      background-repeat: no-repeat;
      background-position: right 0px top 820px;
      z-index: -1;
    }
    .skills-bg{
      position: absolute;
      width: 100vw;
      height: 400vh;
      background-image: url('./../public/assets/img/green-shadow-2L.png');
      background-repeat: no-repeat;
      background-position: left 0px top 1920px;
      z-index: -1;
    }
    .p-folio-bg{
      position: absolute;
      width: 100vw;
      height: 400vh;
      background-image: url('./../public/assets/img/purple-shadow-L3.png');
      background-repeat: no-repeat;
      background-position: left 0px top 3200px;
      z-index: -1;
    }
   
    .message-bg{
      position: absolute;
      width: 100vw;
      height: 714vh;
      background-image: url('./../public/assets/img/purple-shadow-L4.png');
      background-repeat: no-repeat;
      background-position: left 0px top 7500px;
      z-index: -1;
    }

  
  
  }
  .big-bg2 {
    margin-top: 1259px;
   
    background-repeat: no-repeat;
    width: 1205.31px;
    height: 6000px;
    margin-left: -320px;
    background-size: 99.9%;
    display: none;
}
.ober{
 
  .profile-pic {
    height: 650px;
   // width: 95%;
    width: 746px;
    margin-left: -250px;
    
   }
}
 
 
}

@media (max-width: 350px){
  body { 
  
  
   
    height: 7765px;
    height: 7850px;

    .content-wrapper {
      width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
      max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
      height: 7800px; /* Höhe des Inhalts */
      height: 7742px; 
    }

    .shape-hero {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-image: url('./../public/assets/img/shapeheropage.png');
      background-repeat: no-repeat;
      background-position: left 0px top 195.6px;
      background-size: 740px 801.56px;
      z-index: -1;
    }
    .photo-profile-bg{
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-image: url('./../public/assets/img/photo-shadows.png');
      background-repeat: no-repeat;
      background-position: left 2px top 121.62px;
      //background-size: 960px 620px; /* Breite x Höhe */
      background-size: 350.7px 480.38px;
      z-index: -10;
     
    }  
    .about-bg{
      position: absolute;
      width: 100vw;
      height: 200vh;
      background-image: url('./../public/assets/img/purple-shadow-R2.png');
      background-repeat: no-repeat;
      background-position: right 0px top 820px;
      z-index: -1;
    }
    .skills-bg{
      position: absolute;
      width: 100vw;
      height: 400vh;
      background-image: url('./../public/assets/img/green-shadow-2L.png');
      background-repeat: no-repeat;
      background-position: left 0px top 1920px;
      z-index: -1;
    }
    .p-folio-bg{
      position: absolute;
      width: 100vw;
      height: 400vh;
      background-image: url('./../public/assets/img/purple-shadow-L3.png');
      background-repeat: no-repeat;
      background-position: left 0px top 3200px;
      z-index: -1;
    }
    .message-bg{
      position: absolute;
      width: 100vw;
      height: 717vh;
      background-image: url('./../public/assets/img/purple-shadow-L4.png');
      background-repeat: no-repeat;
      background-position: left 0px top 7540px;
      z-index: -1;
    }
  
  
  }
  .big-bg2 {
    margin-top: 1259px;
   
    background-repeat: no-repeat;
    width: 1205.31px;
    height: 6000px;
    margin-left: -320px;
    background-size: 99.9%;
    display: none;
}
.ober{
 
  .profile-pic {
    height: 650px;
   // width: 95%;
    width: 746px;
    margin-left: -310px;
    
   }
}
 
 
}







