

body {

  max-width: 1440px; /* Maximale Breite des Inhalts */
  margin: 0 auto; /* Zentriert die Seite horizontal */
  background-color: rgba(20, 29, 47, 1); /* Hintergrundfarbe */
  min-height: 100vh; /* Die Seite muss mindestens die Höhe des Bildschirms haben */
  background-image: url('./../public/assets/img/shapeheropage.png');
  background-repeat: no-repeat;
  background-position: center top 366px; /* Position des Hintergrundbildes */

  overflow-x: hidden; /* Verhindert horizontales Scrollen */
 
}

.content-wrapper {
  width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
  max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
  height: 6123px; /* Höhe des Inhalts */
 //height: 6000px; 
  //height: 6414px; /* Höhe des Inhalts */
  margin: 0 auto; /* Zentriert die Wrapper horizontal */
  position: relative; /* Ermöglicht die Positionierung von Inhalten relativ zu diesem Wrapper */
  background-image: url('./../public/assets/img/shadows1.png');
  background-repeat: no-repeat;
  background-position: right 0px top 1000px; /* Position des Hintergrundbildes */
  overflow-x: hidden; /* Verhindert horizontales Scrollen */
  overflow-y: hidden; /* Verhindert vertikales Scrollen */
  border: 1px solid yellow;
}






/* ----------------------------------------------------------------------------------- */

.big-bg {
  //margin-top: 388px;
  margin-top: 390px;
  //background-image: url("./../public/assets/img/background-shapes.png");
  background-repeat: no-repeat;
  width: 2550.73px;
  height: 5710.77px;
  background-size: 99.9%; /* Bild um 150% vergrößern */
}
.big-bg2{
  margin-top: 859px;
  //background-image: url("./../public/assets/img/shadows1.png");
  background-repeat: no-repeat; /* Sicherstellen, dass das Bild nicht wiederholt wird */
  width: 1205.31px; /* Breite anpassen */
  height: 7467px; /* Höhe automatisch anpassen */
  margin-left: -320px;
  background-size: 99.9%; 
  //background-color: rgba(255, 255, 255, 1);
  display: none;

}











/*--------------------------------responsive */

/*--------------------------------responsive */

/* @media (max-width: 1669px) {
  body{
    height: 6083.17px;
  }
  .ober{
    .big-bg {
      //margin-top: 488px;
      
     // background-image: url("./../public/assets/img/background-shapes.png");
      background-repeat: no-repeat;
      width: 2550.73px;
      height: 5710.77px;
      margin-top:416px;
    
     
    }
  }
 
}
@media (max-width: 1480px) {
  body{
    height: 6083.17px;
  }
  .ober{
    .big-bg {
      //margin-top: 488px;
      
     // background-image: url("./../public/assets/img/background-shapes.png");
      background-repeat: no-repeat;
      width: 2550.73px;
      height: 5710.77px;
      margin-top:416px;
    
     
    }
  }
  .profile-pic > img {
    width: 646px;
    height: 705px;
  }
}
 */
 @media (max-width: 1440px) {
  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
    height: 6119px; 
    
  }

  .ober{
    .big-bg {
      //margin-top: 488px;
      margin-top:488px;
     // background-image: url("./../public/assets/img/background-shapes.png");
      background-repeat: no-repeat;
      width: 2550.73px;
      height: 5710.77px;
      background-size: 100%; /* Bild um 150% vergrößern */
    }
  }
} 
@media (max-width: 1365px) {
  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
    height: 6121px; 
    
  }

  .ober{
    .big-bg {
      //margin-top: 488px;
      margin-top:488px;
     // background-image: url("./../public/assets/img/background-shapes.png");
      background-repeat: no-repeat;
      width: 2550.73px;
      height: 5710.77px;
      background-size: 100%; /* Bild um 150% vergrößern */
    }
  }
} 
@media (max-width: 1350px) {
  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
    height: 6412px; 
  
    
  }

  .ober{
    .big-bg {
      //margin-top: 488px;
      margin-top:488px;
     // background-image: url("./../public/assets/img/background-shapes.png");
      background-repeat: no-repeat;
      width: 2550.73px;
      height: 5710.77px;
      background-size: 100%; /* Bild um 150% vergrößern */
    }
  }
} 

@media (max-width: 1240px) {
  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
  
  
  }



  .ober{
    .big-bg {
      margin-top: 390px;
      background-size: 125%; /* Bild um 150% vergrößern */
    }
  }
} 
@media (max-width: 1090px) {
  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
   
  
  }

  .ober{
    .big-bg {
      margin-top: 390px;
      background-size: 135%; /* Bild um 150% vergrößern */
   
     }
  }
} 
@media (max-width: 1060px) {
  body{
    //height: 7457px;
    height: 6700px;
    background-image: url('./../public/assets/img/shapeheropage.png');
    background-repeat: no-repeat;
    background-position: center top 210px; /* Position des Hintergrundbildes */

    .content-wrapper {
      width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
      max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
      height: 6778px; 
     
    }
  }
 /*  .ober{
    .big-bg {
       display: none;
      }
      .big-bg2 {
        display: block;
        width: 2080px;
        height: 5700px;
        margin-top: 980px;
       }
       .profile-pic {
       
        height: 656px;
       }
    


  } */
} 
@media (max-width: 1010px) {

  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
    height: 6400px; 
  
  }

  .ober{
    .big-bg {
      margin-top: 390px;
      background-size: 145%; /* Bild um 150% vergrößern */
   
    }
  }
} 
@media (max-width: 980px) {
body{

  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
    height: 7844px; 
   
  }
}

} 
@media (max-width: 940px) {
  body{
    .content-wrapper {
      width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
      max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
      height: 7908px; 
     
    }
  }
 
  .ober{
    .big-bg {
      margin-top: 390px;
      background-size: 155%; /* Bild um 150% vergrößern */
   
    }
  }
} 
@media (max-width: 880px) {

 body{
  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
    height: 7864px; 
   
  }
 }
  
  .ober{
    .big-bg {
      margin-top: 390px;
      background-size: 175%; /* Bild um 150% vergrößern */
   
    }
    .profile-pic {
      height: 656px;
     // width: 95%;
      width: 746px;
     
     }
  }
}
@media (max-width: 730px){
  body{
    .content-wrapper {
      width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
      max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
      height: 7880px; 
     
    }
   }
  
  .big-bg2 {
    margin-top: 1259px;
   
    background-repeat: no-repeat;
    width: 1205.31px;
    height: 6000px;
    margin-left: -320px;
    background-size: 99.9%;
    display: none;
}
.ober{
 
  .profile-pic {
    height: 650px;
   // width: 95%;
    width: 746px;
    margin-left: -80px;
    
   
   }
}
 
}
@media (max-width: 590px){
  body{
    .content-wrapper {
      width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
      max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
      height: 7882px; 
     
    }
   }
  
  .big-bg2 {
    margin-top: 1259px;
   
    background-repeat: no-repeat;
    width: 1205.31px;
    height: 6000px;
    margin-left: -320px;
    background-size: 99.9%;
    display: none;
}
.ober{
 
  .profile-pic {
    height: 650px;
   // width: 95%;
    width: 746px;
    margin-left: -80px;
    
   
   }
}
 
}
@media (max-width: 570px){

  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
    height: 7192px; 
  
  }
  

  .big-bg2 {
    margin-top: 1259px;
   
    background-repeat: no-repeat;
    width: 1205.31px;
    height: 6000px;
    margin-left: -320px;
    background-size: 99.9%;
    display: none;
}
.ober{
 
  .profile-pic {
    height: 650px;
   // width: 95%;
    width: 746px;
    margin-left: -140px;
    
   
   }
}
 
}
@media (max-width: 490px){
  body{

    .content-wrapper {
      width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
      max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
      height: 7882px; 
     
    }
  }

  .big-bg2 {
    margin-top: 1259px;
   
    background-repeat: no-repeat;
    width: 1205.31px;
    height: 6000px;
    margin-left: -320px;
    background-size: 99.9%;
    display: none;
}
.ober{
 
  .profile-pic {
    height: 650px;
   // width: 95%;
    width: 746px;
    margin-left: -230px;
    
   
   }
}
 
}
@media (max-width: 400px){
 body{

  .content-wrapper {
    width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
    max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
    height: 7380px; 
  }
 }

  
  .big-bg2 {
    margin-top: 1259px;
   
    background-repeat: no-repeat;
    width: 1205.31px;
    height: 6000px;
    margin-left: -320px;
    background-size: 99.9%;
    display: none;
}
.ober{
 
  .profile-pic {
    height: 650px;
   // width: 95%;
    width: 746px;
    margin-left: -250px;
    
   }
}
 
}
@media (max-width: 388px){
  body { 
    height: 7765px;
    height: 7850px;

    .content-wrapper {
      width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
      max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
      height: 7550px; 
      height: 7712px;
    
      
     
    }

  
  
  }
  .big-bg2 {
    margin-top: 1259px;
   
    background-repeat: no-repeat;
    width: 1205.31px;
    height: 6000px;
    margin-left: -320px;
    background-size: 99.9%;
    display: none;
}
.ober{
 
  .profile-pic {
    height: 650px;
   // width: 95%;
    width: 746px;
    margin-left: -250px;
    
   }
}
 
 
}

@media (max-width: 350px){
  body { 
  
  
   
    height: 7765px;
    height: 7850px;

    .content-wrapper {
      width: 100%; /* Füllt die gesamte Breite innerhalb der max-width von 1440px */
      max-width: 1440px; /* Maximale Breite auf 1440px begrenzt */
      height: 7800px; /* Höhe des Inhalts */
      height: 7742px; 
    }
  
  
  }
  .big-bg2 {
    margin-top: 1259px;
   
    background-repeat: no-repeat;
    width: 1205.31px;
    height: 6000px;
    margin-left: -320px;
    background-size: 99.9%;
    display: none;
}
.ober{
 
  .profile-pic {
    height: 650px;
   // width: 95%;
    width: 746px;
    margin-left: -310px;
    
   }
}
 
 
}







